<h2>Users</h2>

 <div class="input-group" ng-show="users.length > 0">
      <input type="text" class="form-control" id="inputfirstname" ng-model="queryFilter" placeholder="Buscar...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="queryFilter = ''" ng-disabled="queryFilter == '' || queryFilter == null"><span class="glyphicon glyphicon-remove"></span></button>
      </span>
</div>
<table class="table table-striped" ng-show="listaResultados.length>0">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users | filter:queryFilter as listaResultados">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.username}}</td>
            <td class="text-right">
                <button ng-click="edit(user)" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button ng-click="delete(user)" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>                
            </td>
        </tr>
    </tbody>
</table>
<div ng-show="listaResultados.length==0" class="alert alert-info">No hay resultados</div>

<form class="form-horizontal" name="userForm" ng-submit="saveUser()" novalidate>
    <input type="hidden" ng-model="user.uid">
    <div class="form-group">
        <label for="inputfirstname" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputfirstname" ng-model="user.firstname" placeholder="Nombre">
        </div>
    </div>

    <div class="form-group">
        <label for="inputlastname" class="col-sm-2 control-label">Apellidos</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputlastname" ng-model="user.lastname" placeholder="Apellidos">
        </div>
    </div>
        
    <div class="form-group">
        <label for="inputusername" class="col-sm-2 control-label">Usuario</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputlastname" ng-model="user.username" placeholder="Usuario">
        </div>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn btn-danger">Limpiar</button>
    </div>
</form>